/* modal ==============================*/
.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.modal {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  background-color: #60606093;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
}

form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 1rem;
}

.title-form-modal {
  color: var(--color-dark);
  font-weight: var(--semi-bold);
}

.modal-content {
  width: 95%;
  height: auto;
  background-color: var(--color-white);
  border-radius: 2px;
}

.transact-form {
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
}

.transact-form input {
  width: 100%;
  height: 38px;
  border: 1px solid var(--color-muted);
  outline: transparent;
  padding: 0 10px;
}

.transact-form label {
  color: var(--color-dark);
  font-size: smaller;
  font-weight: var(--semi-bold);
}

.desc-label,
.value-label {
  margin-bottom: 5px;
}

label {
  margin-top: 20px;
}

label:first-child {
  margin-top: 0px;
}

.transact-form input:focus {
  background-color: var(--color-gray);
  border: 1px solid var(--color-primary);
}

.btn-div {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  gap: 10px;
}

.btn {
  padding: 0.5rem 1.5rem;
  width: max-content;
  border: none;
  outline: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 0.75rem;
}

.btn-add {
  background-color: var(--color-primary);
}

.btn-cancel {
  background-color: var(--color-muted);
}

.btn-add:hover {
  background-color: var(--color-primary);
}

.btn-cancel:hover {
  background-color: var(--color-dark);
}

.fieldset-input-radio,
.div-input-radio {
  display: flex;
}

.div-input-radio,
.div-input-radio input {
  height: 1.5rem;
}

.div-input-radio > label {
  display: flex;
  margin: 0px 25px 0px 10px;
  align-items: center;
}

.error {
  margin-top: 10px;
  color: red;
  font-size: small;
}

@media only screen and (min-width: 470px) {
  .modal-content {
    width: 30rem;
  }
}
