/* fonts ====================================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
/* css resets ===============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  width: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* standardizations =========================*/
:root {
  /* height of footer and header */
  --header-height: 4rem;
  --footer-height: 3rem;
  /* font config */
  --font-primary: "Sora", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-regular: 1.2rem;
  --font-medium: 1.5rem;
  --light: 300;
  --regular: 400;
  --semi-bold: 600;
  /* colores */
  --color-primary: #03c988;
  --color-secondary: #3c79f5;
  --color-blue-dark: #6c00ff;
  --color-red: #dc3535;
  --color-dark: #222222df;
  --color-white: #ffffff;
  --color-gray: #eeeeee;
  --color-gray-dark: #dbdbdb;
  --color-muted: #777777;
  --color-bill: #fffbc1;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  padding: 0 4rem;
  margin: 0 auto;
  max-width: 1366px;
}

/* header */
.header-page {
  background-color: var(--color-dark);
}

.nav {
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  display: flex;
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  font-weight: var(--semi-bold);
  color: var(--color-white);
}

.nav-brand > img {
  max-width: 32px;
  max-height: 32px;
}

.nav-brand > span {
  padding-top: 5px;
  margin-left: 5px;
}
/* content header ===========================*/
.content {
  padding-top: 0.5rem;
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.info-finance-header {
  display: flex;
  width: 100%;
  height: 6rem;
  background-color: var(--color-bill);
  border-radius: 3px;
  box-shadow: 0px 1.5px 5px 0px var(--color-gray-dark);
  margin-top: 1rem;
}

.card-info-finance {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.card-info-finance:nth-child(2) {
  border-left: 1px dashed var(--color-gray-dark);
  border-right: 1px dashed var(--color-gray-dark);
}
.card-info-finance:nth-child(1) {
  border-radius: 3px 0 0 3px;
}
.card-info-finance:nth-child(3) {
  border-radius: 0px 3px 3px 0px;
}

.title-card,
.value-card {
  font-size: larger;
}

.title-card {
  color: var(--color-dark);
}

.value-transact {
  display: flex;
  align-items: center;
}

/* content transactions =====================*/
.transactions {
  padding: 1rem 0;
}

.header-transactions {
  display: flex;
  justify-content: space-between;
}

.title-box-transactions {
  color: var(--color-dark);
  margin-top: 10px;
  font-weight: var(--regular);
}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-gray);
  padding: 0;
}

.new-transaction-btn {
  border: none;
  outline: none;
  background: var(--color-primary);
  padding: 0.5rem 1rem;
  color: var(--color-white);
  cursor: pointer;
  text-align: end;
  margin-bottom: 5px;
}

.new-transaction-btn:hover {
  background-color: var(--color-dark);
}
